aniso8601
anyio
APScheduler
beautifulsoup4
cachetools
certifi
chardet
charset-normalizer
click
colorama
contourpy
cycler
DateTime
dialogflow
Flask
Flask-RESTful
fonttools
google-api-core
google-auth
google-cloud-dialogflow
googleapis-common-protos
#googletrans
grpcio
grpcio-status
gunicorn
h11
h2
hpack
hstspreload
httpcore
httpx
hyperframe
idna
install
itsdangerous
Jinja2
joblib
kiwisolver
language-tool-python
libretranslatepy
lxml
MarkupSafe
matplotlib
nltk
#numpy
packaging
pandas
Pillow
proto-plus
protobuf
pyasn1
pyasn1-modules
pyclustering
pyparsing
pyTelegramBotAPI
python-dateutil
python-telegram-bot
python-telegram-bot-raw
pytz
pytz-deprecation-shim
regex
requests
Reverso-API
#rfc3986
#rsa
#scikit-learn
#scikit-learn-extra
scipy
seaborn
six
sniffio
soupsieve
textblob
threadpoolctl
tornado
tqdm
translate
tzdata
tzlocal
urllib3
Werkzeug
zope.interface
inflect
nest_asyncio